node_modules
/build
/.svelte-kit
/.vercel
.env
.env.local
.env.*.local
.DS_Store
*.log
*.lock
*.cache
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.iml
bun.*
